<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Session">
        <plugin name="trigram_log_before_session_reinit" type="Correction\TP7\Plugin\Customer\LogBeforeSessionReinit"/>
    </type>
    <type name="Correction\TP6\Block\Customer\Coordinates">
        <plugin name="trigram_enrich_after_get_customer_data" type="Correction\TP7\Plugin\Customer\Block\EnrichAfterGetCustomerData"/>
    </type>


















    <type name="Magento\Customer\Model\ResourceModel\Customer">
        <plugin name="random" type="Correction\TP7\Plugin\Customer\EnrichRandomAroundLoad"/>
    </type>


















</config>
