<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Series\Api\Data\SerieInterface" type="Series\Model\Data\Serie" />
    <preference for="Series\Api\SerieRepositoryInterface" type="Series\Model\SerieRepository" />
    <preference for="Series\Api\SerieManagementInterface" type="Series\Model\SerieManagement" />
    <preference for="Series\Api\Data\VendorInterface" type="Series\Model\Data\Vendor" />
    <preference for="Series\Api\VendorRepositoryInterface" type="Series\Model\VendorRepository" />
</config>
